@font-face {
  font-family: "Semi-Bold-Pretendard";
  src: url("../statics/fonts/Pretendard/SemiBold.woff") format("woff"),
    url("../statics/fonts/Pretendard/SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  src: url("../statics/fonts/Pretendard/Regular.woff") format("woff"),
    url("../statics/fonts/Pretendard/Regular.ttf") format("truetype");
}

/* 색 변수 모음 */
:root {
  /* 전체 배경 */
  --body-bg: #ffffff;

  /* 상단 바 */
  /* 상단 바 배경 색 */
  --header-bg: var(--body-bg);
  /* 상단 바 글자 색 */
  --header-font: #000000;

  /* 상단 배너 */
  /* 상단 배너 배경 색 */
  /* --top-banner-bg: var(--body-bg); */
  --top-banner-bg: #2417ff;
  /* 상단 배너 글자 색 */
  --top-banner-font: #ffffff;

  /* 빅 버튼 */
  /* 빅 버튼 배경 색 */
  --cta-button-bg: #ffbc10;
  /* 빅 버튼 글자 색 */
  --cta-button-font: #ffffff;

  /* 상단 배너 버튼 */
  /* 상단 배너 버튼 배경 색 */
  --cta-banner-button-bg: var(--cta-button-bg);
  /* 상단 배너 버튼 글자 색 */
  --cta-banner-button-font: var(--cta-button-font);

  /* 하단 버튼 */
  /* 하단 버튼 배경 색 */
  --cta-footer-button-bg: var(--cta-button-bg);
  /* 하단 버튼 배경 색 */
  --cta-footer-button-font: var(--cta-button-font);

  /* 전체 구역 색상 */
  /* 배경 색 */
  --section-title-bg: var(--body-bg);
  /* 글자 색 */
  --section-title-font: #000000;
  /* 카드 색 */
  --section-card-bg: var(--body-bg);
  /* 카드 제목 색 */
  --section-card-title-font: #000000;
  /* 카드 설명 색 */
  --section-card-subtitle-font: #737373;
  
  /* problem */
  /* 배경 색 */
  --problem-title-bg: var(--section-title-bg);
  /* 글자 색 */
  --problem-title-font: var(--section-title-font);
  /* 카드 색 */
  --problem-card-bg: var(--section-card-bg);
  /* 카드 제목 색 */
  --problem-card-title-font: var(--section-card-title-font);
  /* 카드 설명 색 */
  --problem-card-subtitle-font: var(--section-card-subtitle-font);

  /* Product */
  /* 배경 색 */
  --product-title-bg: var(--section-title-bg);
  /* 글자 색 */
  --product-title-font: var(--section-title-font);
  /* 카드 색 */
  --product-card-bg: var(--section-card-bg);
  /* 카드 제목 색 */
  --product-card-title-font: var(--section-card-title-font);
  /* 카드 설명 색 */
  --product-card-subtitle-font: var(--section-card-subtitle-font);

  /* Product 태그 */
  /* 배경 색 */
  --tag-bg: #f5f5f5;
  /* 글자 색 */
  --tag-font: #737373;
  
  /* Team */
  /* 배경 색 */
  --team-title-bg: var(--section-title-bg);
  /* 글자 색 */
  --team-title-font: var(--section-title-font);
  /* 카드 제목 색 */
  --team-card-bg: var(--section-card-bg);
  /* 카드 설명 색 */
  --team-card-title-font: var(--section-card-title-font);
  /* 카드 설명 색 */
  --team-card-subtitle-font: var(--section-card-subtitle-font);

  /* 하단 경계선 색 */
  --footer-border-top: #d4d4d4;
  /* 하단 바 */
  /* 배경 색 */
  --footer-bg: var(--body-bg);
  /* 글자 색 1 */
  --footer-font-main: #000000;
  /* 글자 색 2 */
  --footer-font-sub: #737373;
}

body {
  background-color: var(--body-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--body-bg);
  color: var(--body-font);
}

main {
  width: 1024px;
}

header {
  width: 1024px;
  height: 64px;
  /* padding-left: 5%;
  padding-right: 5%; */
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 100;
  color: var(--header-font);
  background-color: var(--header-bg);
}

/* original */
/* footer {
  margin-top: 172px;
  padding: 32px 24px 24px 24px;
  border-top: 1px solid var(--footer-border-top);
  width: 1024px;
} */

/* new */
footer {
  width: 84%;
  margin-top: 172px;
  padding: 32px 0px 24px 0px;
  border-top: 1px solid var(--footer-border-top);
  background-color: var(--footer-bg);
  color: var(--footer-font-main);
}


a {
  text-decoration: none;
  display: block;
}
/* 헤더 */
.header__logo {
  margin-left: 24px;
}



nav {
  margin-left: auto;
  margin-right: 24px;
  font-size: 14px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav__link {
  margin-left: 24px;
}

.top-banner {
  height: 400px;
  background: var(--top-banner-bg);
  color: var(--top-banner-font);
  display: flex;
  margin-bottom: 88px;
}

/* 탑배너 */
.top-banner__content {
  margin: 90px 97px 48px 107px;
}

.top-banner__right {
  width: 467px;
  height: 400px;
  margin-right: 24px;
}

.bold {
  font-family: "Pretendard";
  font-weight: 700;
}
.regular {
  font-family: "Pretendard";
  font-weight: 400;
}

.top-banner__title {
  font-size: 28px;
  line-height: 45px;
}

.top-banner__subtitle {
  margin-top : 24px;
  font-size: 16px;
  line-height: 22px;
}

.top-banner__cta-button {
  margin-top: 60px;
  background: var(--cta-banner-button-bg);
  color: var(--cta-banner-button-font);
  width: 310px;
  height: 56px;
  font-size: 20px;
  border-radius: 6px;
}

.top-banner__image {
  width: 467px;
  height: 400px;
  object-fit: contain;
  margin-right: 70px;

}

/* 각 섹션 */

.container {
  margin: 75px 24px 0px 24px;
}

#problem-section > .section-title {
  background-color: var(--problem-title-bg);
  color: var(--problem-title-font);
  margin-bottom: 69px;
}

#problem-section > .grid-3fr > .card__ {
  background-color: var(--problem-card-bg);
}

#problem-section > .grid-3fr > .card__ > .card__image {
  color: var(--problem-card-image);
  margin-bottom: 24px;
}

#problem-section > .grid-3fr > .card__ > .card__title {
  color: var(--problem-card-title-font);
}

#problem-section > .grid-3fr > .card__ > .card__subtitle {
  color: var(--problem-card-subtitle-font);
}

#solution-section > .section-title {
  background-color: var(--solution-title-bg);
  color: var(--solution-title-font);
  margin-bottom: 26px;
}

#solution-section > .grid-3fr > .card__ {
  background-color: var(--solution-card-bg);
}

#solution-section > .grid-3fr > .card__ > .card__title {
  color: var(--solution-card-title-font);
}

#solution-section > .grid-3fr > .card__ > .card_content {
  color: var(--solution-card-subtitle-font);
}


#method-section > .section-title {
  background-color: var(--method-title-bg);
  color: var(--method-title-font);
  margin-bottom: 64px;
}

#method-section > .section-title >.section-title__main{
  background-color: var(--solution-title-bg);
  color: var(--solution-title-font);
  margin-bottom: 12px;
}

#method-section > .grid-3fr > .card__ {
  background-color: var(--method-card-bg);
}

#method-section > .grid-3fr > .card__ > .card__title {
  color: var(--method-card-title-font);
}

#method-section > .grid-3fr > .card__ > .card_content {
  color: var(--method-card-subtitle-font);
}

#method-section > .grid-3fr > .card__ > .card__tag {
  color: var(--method-card-tag-font);
  background-color: var(--method-card-tag-bg);
}

.section-title__main {
  font-size: 28px;
  line-height: 41px;
}

.section-title__sub {
  font-size: 20px;
  line-height: 29px;
}

.grid-3fr {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-4fr {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card__image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  /* border-radius: 4px; */
  margin-bottom: 28px;
}

.card__title {
  font-size: 20px;
  line-height: 30px;
  padding: 2px 0px;
  margin-bottom: 14px;
}
.card__subtitle {
  font-size: 18px;
  line-height: 25px;
  /* padding: 2px 0px; */
}
.card_content {
  font-size: 16px;
  line-height: 24px;
  /* padding: 2px 0px; */
}

/* 프로모션 배너 이미지 */

.promotion-banner-image {
  width: 100%;
  height: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 6px;
}

/* 상담 버튼 */
.cta-button__wrapper {
  width: 310px;
  height: 64px;
  margin: auto;
}

.cta-button {
  background-color: var(--cta-footer-button-bg);
  height: 100%;
  font-size: 20px;
  line-height: 30px;
  color: var(--cta-footer-button-font);
  border-radius: 6px;
}

.footer__top {
  display: flex;
}
.footer__top__logo {
  width: 50%;
}
.footer__top__info {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.footer__top__info__external-link {
  width: 143px;
  margin: 0px 24px;
}

.footer__top__info__title {
  margin-bottom: 16.5px;
  font-size: 16px;
}

.external-link__wrapper {
  display: flex;
}

.external-link__icon {
  width: 20px;
  height: 20px;
  margin: 0px 8px 17px 0px;
}

.external-link__name {
  height: 20px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard";
  font-weight: 400;
}

.footer__top__info__detail {
  font-size: 12px;
  line-height: 150%;
}

.footer-text-wrapper {
  display: flex;
  height: 18px;
  margin-bottom: 8px;
  color: var(--footer-font-sub);
}

.semi-bold {
  font-family: "Semi-Bold-Pretendard";
}

.footer__bottom {
  border-top: 1px solid var(--footer-border-top);
  padding-top: 32px;
  font-size: 12px;
  line-height: 150%;
}

.line3-image {
  width: 1px;
  height: 16px;
  margin: auto 8px;
}

.ellipse-image {
  width: 4px;
  height: 4px;
  margin: 4.5px 8px;
  object-fit: cover;
}

.seperator-image {
  width: 1px;
  height: 10px;
  margin: 2px 8px 0px;
}
